* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

img {
    width: 583px;
    height: 374px;
    margin-bottom: 126px;
}

h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 29px;
}

input {
    margin: 0 31px;
    width: 342px;
    padding: 13px 0 30px 16px;
    align-items: center;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    opacity: 0.7;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin-top: 79px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.6;
}